.cellTableWidget {
  
}

.cellTableFirstColumn {
  
}

.cellTableLastColumn {
  
}

.cellTableFooter {
  background-color: #ffffff;
  padding: 0px 10px;
  border-top: 1px solid #4b4a4a;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0
}

.cellTableHeader {
  background-color: #ffffff;
  border-bottom: 1px solid #4b4a4a;
  padding: 0px 10px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
}

.cellTableCell {
  padding: 4px 10px;
}

.cellTableFirstColumnFooter {
  border-left: 0px;
}

.cellTableFirstColumnHeader {
  border-left: 0px;
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: #6c6b6b;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
  background: #ffffff;
}

.cellTableEvenRowCell {
  
}

.cellTableOddRow {
  background: #efefef;
}

.cellTableOddRowCell {
  
}

.cellTableHoveredRow {
  background: #CDE6EB;
}

.cellTableHoveredRowCell {
  
}

.cellTableKeyboardSelectedRow {
  background: #ccc;
}

.cellTableKeyboardSelectedRowCell {
  
}

@sprite .cellTableSelectedRow {
  gwt-image: 'cellTableSelectedBackground';
  background-color: #ccc;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  background: #ccc;
}

.cellTableKeyboardSelectedCell {
  background: #ccc;
}

@sprite .cellTableLoading {
  gwt-image: 'cellTableLoading';
  margin: 30px;
}